[submodule "bundle/nerdtree"]
	path = bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "bundle/Vundle.vim"]
	path = bundle/Vundle.vim
	url = https://github.com/gmarik/Vundle.vim.git
[submodule "bundle/calendar.vim"]
	path = bundle/calendar.vim
	url = https://github.com/itchyny/calendar.vim.git
[submodule "bundle/vim-matrix-screensaver"]
	path = bundle/vim-matrix-screensaver
	url = https://github.com/uguu-org/vim-matrix-screensaver.git
